@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

body {
  font-family: "Lato", sans-serif;
}
@theme {
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */
  --font-size-6xl: 3.75rem; /* 60px */

  /* You can also define specific font properties for each size */
  --font-size-heading-1: 3rem;
  --line-height-heading-1: 1.2;
  --letter-spacing-heading-1: -0.02em;

  --font-size-body: 1rem;
  --line-height-body: 1.5;

  /* Custom text-black color */
  --color-black: #2c2c2c;
}

html {
  scroll-behavior: smooth;
}

/* Optional: Add offset for fixed headers */
[id] {
  scroll-margin-top: 120px; /* Adjust based on your header height */
}
